.home_container {
}
.home_hero_container {
  position: relative;
  height: 700px;
  width: 100vw;
  margin-bottom: 150px;
  /* background-color: green; */
}
.home_hero {
  height: 650px;
  width: 100vw;
  position: relative;
  /* background-color: red; */
  overflow: hidden;
}

.slider_style {
  background-color: blue;
  background-color: #000;
  height: 650px;
  /* overflow: hidden; */
}

.home_hero_group {
  position: relative;
  /* background-color: yellow; */
  border-bottom-left-radius: 180px;
  border-bottom-right-radius: 180px;
  overflow: hidden;
  height: 650px;
  width: 101%;
  margin-left: -2px;
  outline: none;
}

.hero_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top center;
  outline: none;
}

@keyframes titleAnima {
  from {
    opacity: 0;
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes textAnima {
  from {
    opacity: 0;
    -webkit-transform: translateY(200px);
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.hero_title1 {
  position: absolute;
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  margin: auto 200px;
  align-self: center;
  top: 40%;
  opacity: 1;
}

.hero_title2 {
  position: absolute;
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  margin: auto 150px;
  align-self: center;
  top: 35%;
  opacity: 1;
}

.slick-active .slide-title {
  -webkit-animation-name: titleAnima;
  animation-name: titleAnima;
  animation-duration: 1s;
}

.slick-active .slide-text {
  -webkit-animation-name: textAnima;
  animation-name: textAnima;
  animation-duration: 1s;
}

.hero_text {
  position: absolute;
  color: #fff;
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
  margin: auto 150px;
  align-self: center;
  bottom: 25%;
}

.slider2_style {
  overflow: hidden;
}

/* SLICK DOTS */
.slick-dots {
  /* background-color: red; */
  position: absolute;
  /* transform: rotate(-90deg); */

  z-index: 99;
  top: 90%;
  left: 0;
  display: inline !important;
  width: 20%;
  height: 10%;
  padding: 0;
  list-style: none;
  text-align: center;
}

.slick-dots ul {
  background-color: yellow;
  display: flex;
  flex-direction: column;
}

.slick-dots li {
  position: relative;
  display: inline;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  color: red;
  font-size: 21px;
  line-height: 0;
  display: block;
  width: 100px;
  height: 100px;
  padding: 5px;
  cursor: pointer;
  border-radius: 50%;
  border: 0;
  outline: none;
}

.slick-dots li button::before {
  font-size: 18px;
  color: #fff;
  opacity: 1;
}

.slick-active button {
  height: 50px;
  width: 50px;
  background: #d60e96;
}

/* COUNT DOWN */

.home_countdown {
  display: flex;
  flex-direction: row;
  width: 700px;
  height: 70px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  position: absolute;
  z-index: 10;
  left: 25%;
  bottom: 10px;
  align-self: center;
  text-align: center;
}

.home_countdown_timer {
  display: flex;
  flex-direction: row;
}

.home_countdown_timer p {
  background-color: #fc6a01;
  width: 70px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 0 20px;
  color: #fff;
}

/* HOME ABOUT */

.home_about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 130px;
  margin-bottom: 100px;
}

.home_about_left {
  width: 500px;
  text-align: left;
}

.home_about_title {
  color: #fc6a01;
}
.home_about_topic {
  font-size: 40px;
  font-weight: 700;
}

.home_about_body {
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
}

.home_about_button {
  border: none;
  color: #fff;
  background-color: #fc6a01;
  border-radius: 20px;
  padding: 8px 20px;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.home_about_button:hover {
  box-shadow: 0 10px 20px rgba(252, 106, 1, 0.5);
  cursor: pointer;
  color: #000;
}

/* TESTIMONIALS */

.home_testimonial {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fc9801;
  color: #fff;
  padding: 130px 0 80px;
}

.home_testimonial_left {
  width: 60%;
  position: relative;
  /* background-color: red; */
}
.home_testimonial_left h2 {
  font-weight: 500;
  font-size: 50px;
  position: absolute;
  left: 50px;
  top: 100px;
}

.home_testimonial_right {
  width: 35%;
  text-align: left;
}

.home_testimonial_image_container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  overflow: scroll;
}

.home_testimonial_cover {
  outline: none;
}

.home_testimonial_image {
  width: 180px;
  height: 220px;
  object-fit: cover;
  object-position: top center;
  outline: none;
  margin: 0 20px;
}
.home_testimonial_image_large {
  width: 250px;
  height: 480px;
  margin: 0 10px;
  object-fit: cover;
  object-position: center;
}

.home_testimonial_right p {
  margin-bottom: 50px;
}

.home_testimonial_name {
  font-weight: 400;
  font-size: 24px;
  width: 450px;
}
.home_testimonial_text {
  font-weight: 500;
  font-size: 21px;
  width: 400px;
  line-height: 30px;
}

/* HOME VIDEO */
.home_video_container {
  height: 700;
  width: 100vw;
  margin-bottom: 140px;
  background-color: #000;
  /* padding: 20%; */
  padding: 150px 0;
}
.home_video_container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* HOME EVENTS */

.home_events {
  display: flex;
  flex-direction: row;
  margin-bottom: 180px;
}

.home_events_left {
  width: 40%;
  text-align: left;
  padding-left: 100px;
}

.home_events_left h2 {
  font-size: 50px;
  font-weight: 500;
}

.home_events_date {
  display: inline-block;
  background: #fc6a01;
  width: 100px;
  padding-left: 10px;
}
.home_events_date p {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  text-align: left;
  margin: 10px;
}

.home_event_text {
  width: 300px;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}

.home_events_schedule {
  display: flex;
  flex-direction: row;
}

.home_event_button {
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  background-color: #fc6a01;
  color: #fff;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.home_event_button:hover {
  box-shadow: 0 10px 20px #fc6a01;
  color: #000;
  cursor: pointer;
}

.home_events_right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home_event_img1 {
  width: 450px;
  height: 550px;
  object-fit: contain;
}
.home_event_img2 {
  width: 300px;
  height: 400px;
  object-fit: contain;
}

/* HOME SHOP SECTION */

.home_shop_container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  background-color: #f4f4f4;
}

.home_shop_left {
  width: 50%;
  background-color: #fc9801;
  padding: 80px 0;
}

.home_shop_main_img {
  width: 80%;
  height: 450px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 40px;
}

.home_shop_images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.home_shop_images img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 0 10px;
  border-radius: 15px;
}

.home_shop_right {
  width: 50%;
  margin-bottom: 40px;
}

.home_shop_right {
  text-align: left;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
}

.home_shop_right h2 {
  font-size: 48px;
  font-weight: 700;
  width: 550px;
}
.home_shop_right p {
  font-size: 18px;
  font-weight: 400;
  width: 550px;
  line-height: 27px;
}

.home_shop_right img {
  width: 74px;
  width: 74px;
  object-fit: contain;
  margin: 20px 0;
}

.home_shop_button {
  width: 100px;
  display: inline-block;
  padding: 8px 20px;
  border: none;
  background-color: #fc6a01;
  color: #fff;
  border-radius: 20px;
}

/* HOME HELP SECTION */
.home_help_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0d2439;
  color: #fff;
  padding: 230px 300px;
  position: relative;
  overflow: hidden;
}
.home_help_container h3 {
  font-size: 48px;
  font-weight: 700;
}
.home_help_container p {
  margin-top: 0;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 64px;
}
.home_help_container button {
  width: 120px;
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  background: #fc6a01;
  color: #fff;
  margin: 0 20px;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}
.home_help_container button:hover {
  box-shadow: 0 10px 20px #fc6a01;
  color: #000;
}

.home_help_circle {
  position: absolute;
  right: -150px;
  top: -150px;
  width: 400px;
  height: 400px;
  border: 50px solid rgba(255, 255, 255, 0.15);
  border-radius: 300px;
}

.home_news_container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 190px 0;
}

.home_news_left {
  width: 60%;
}
.home_news_images {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
}

.home_news_left img {
  height: 400px;
  /* width: 500px; */
  object-fit: contain;
  margin-right: 10px;
}

.home_news_vertical_image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home_news_vertical_image img {
  height: 195px;
  width: 200px;
  object-fit: cover;
  /* margin-bottom: 5px; */
}

.home_news_right {
  width: 40%;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.home_news_right h2 {
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 30px;
  margin-top: 0;
}

.home_news_date {
  background: #fc6a01;
  display: inline-block;
  color: #fff;
  padding-left: 10px;
  width: 120px;
}
.home_news_date p {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 5px;
}

.home_news_body p {
  font-size: 18px;
  font-weight: 400;
  width: 400px;
}

.home_new_snippet {
  display: inline-block;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  padding: 20px;
  border-radius: 15px;
  margin: 20px 0;
}
.home_new_snippet p {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  width: 300px;
}

.home_news_right button {
  border: none;
  background-color: #fc6a01;
  padding: 8px 20px;
  border-radius: 20px;
  color: #fff;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}
.home_news_right button:hover {
  color: #fc6a01;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  background: #000;
  cursor: pointer;
}
