.home_container {
  padding-top: 100px;
  z-index: -1;
}
.home_hero_container {
  position: relative;
  height: 700px;
  width: 100%;
  background-color: blue;
  display: flex;
}

.home_hero_container h1 {
  position: absolute;
  color: #fff;
  font-size: 72px;
  font-weight: 700;
  margin: auto 400px;
  align-self: center;
}

.home_hero: {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
