.contact_hero {
  position: relative;
  height: 500px;
  width: 100vw;
  display: flex;
  margin-bottom: 150px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
  margin-bottom: 70px;
}

.contact_hero_text {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact_hero h2 {
  color: #fff;
  font-size: 72px;
  font-weight: 700;
  /* align-self: center; */
}
.contact_hero p {
  color: #fc6a01;

  font-size: 23px;
  font-weight: 600;
  align-self: center;
}

.contact_hero img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* CONTACT CARDS SECTION */

.contact_cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}
.contact_card {
  width: 280px;
  height: 260px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact_icon {
  height: 40px;
  width: 40px;
  padding: 10px;
}
.contact_title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0;
}
.contact_body {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}
.contact_card h4 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

/* CONTACT FORM SECTION */

.contact_form_container {
  margin-top: 100px;
}
.contact_form_title {
  color: #fc6a01;
  font-size: 36px;
  font-weight: 700;
  /* margin-bottom: 50px; */
}

.contact_form_subTitle {
  font-size: 72px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
}

.contact_form_body {
  font-size: 24px;
  font-weight: 400;
}

.contact_form {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: 80px auto;
}
.contact_form input {
  height: 45px;
  padding: 0 20px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  margin-right: 0 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 16px;
}
.contact_form textarea {
  height: 250px;
  padding: 20px;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  outline: none;
  font-size: 16px;
}
.contact_form button {
  width: 260px;
  height: 50px;
  background-color: #fc6a01;
  color: #fff;
  margin: 0 auto;
  border: none;
  border-radius: 50px;
  margin-top: 40px;
  font-size: 24px;
  font-weight: 500;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}
.contact_form button:hover {
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  color: #000;
}

.contact_form_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact_form_row input {
  width: 40%;
}
