.project_hero {
  position: relative;
  height: 500px;
  width: 100vw;
  display: flex;
  margin-bottom: 150px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
  margin-bottom: 70px;
}

.project_hero_text {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project_hero h2 {
  color: #fff;
  font-size: 72px;
  font-weight: 700;
  /* align-self: center; */
}
.project_hero p {
  color: #fc6a01;

  font-size: 23px;
  font-weight: 600;
  align-self: center;
}

.project_hero img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .people_hero {
    position: relative;
    height: 300px;
    width: 100vw;
    display: flex;
    margin-bottom: 150px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    overflow: hidden;
    margin-bottom: 70px;
  }

  .people_hero_text {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .people_hero h2 {
    color: #fff;
    font-size: 58px;
    font-weight: 700;
    margin-bottom: 20px;
    /* align-self: center; */
  }
  .people_hero p {
    margin-top: 0;
    color: #fc6a01;
    font-size: 21px;
    font-weight: 600;
    align-self: center;
  }
}

/* POLICY DEV SECTION */

.policy_dev {
  text-align: left;
  margin: 0 5% 130px;
}
.policy_dev h2 {
  font-size: 48px;
  font-weight: 500;
}
.policy_dev p {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

/* PROJECT COMPLETE SECTION */

.projects_container {
  overflow: hidden;
}

.project_complete {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 150px;
  position: relative;
  outline: none;
}

.project_slider {
  /* background-color: blue; */
  width: 100vw;
  display: flex;
  flex-direction: row;
  outline: none;
  /* overflow: hidden; */
}

.project_complete_left {
  text-align: left;
  /* background-color: red; */
  margin-left: 60px;
}

.project_complete_left h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 100px;
}
.project_complete_title {
  width: 350px;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0;
}

.project_complete_body {
  width: 350px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.project_complete_left button {
  border: none;
  width: 120px;
  padding: 8px 20px;
  border-radius: 20px;
  background-color: #fc6a01;
  color: #fff;
}
.project_complete_left button:hover {
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  background-color: #000;
  color: #fff;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.project_complete_right {
  /* background: yellow; */
  position: absolute;
  top: 40px;
  right: 60px;
}

.project_complete_right img {
  width: 600px;
  height: 500px;
  border-radius: 20px;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .project_slider {
    /* background-color: blue; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    outline: none;
    /* overflow: hidden; */
  }

  .project_complete_left {
    text-align: left;
    /* background-color: red; */
    margin-left: 30px;
  }

  .project_complete_left h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 50px;
  }

  .project_complete_right {
    /* background: yellow; */
    position: absolute;
    top: 380px;
    right: 30px;
  }

  .project_complete_right img {
    width: 250px;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  }

  .project_complete_left button {
    border: none;
    width: 120px;
    padding: 8px 20px;
    border-radius: 20px;
    background-color: #fc6a01;
    color: #fff;
    margin-bottom: 100px;
  }
}

/* ONGOING PROJECTS */

.ongoing_projects {
  background-color: #fc9801;
  color: #fff;
  padding: 60px 0;
  width: 100vw;
}
.ongoing_projects h2 {
  font-size: 48px;
  font-weight: 700;
}
.ongoing_projects_section {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  /* background-color: red; */
  margin: 0 80px;
  width: 100vw;
}

.project_slider2 {
  /* width: 100vw; */
  display: flex;
  flex-direction: row;
  /* background-color: purple; */
  outline: none;
}

.ongoin_group {
  /* background-color: #000; */
  padding-left: 100px;
  /* margin: 20; */
  outline: none;
  /* width: 350px; */
}
@media (max-width: 1024px) {
  .ongoing_projects_section {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    /* background-color: red; */
    margin: 0 30px;
    width: 100vw;
    overflow-x: scroll;
  }
  .ongoin_group {
    /* background-color: #000; */
    padding-left: 50px;
    /* margin: 20; */
    outline: none;
    /* width: 350px; */
  }
}

.ongoing_projects_group {
  outline: none;
  height: 470px;
  width: 350px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  color: #000;
  text-align: left;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.ongoing_projects_group img {
  width: 350px;
  height: 250px;
  border-radius: 15px;
  object-fit: cover;
  margin-bottom: 20px;
}
.ongoing_projects_group button {
  background-color: #fc6a01;
  color: #fff;
  border: none;
  width: 100px;
  border-radius: 20px;
  padding: 8px 0;
  margin-bottom: 20px;
}
.ongoing_projects_group button:hover {
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  background-color: #000;
  color: #fff;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.ongoing_projects_title {
  font-size: 21px;
  font-weight: 700;
  width: 350px;
  margin: 0;
}
.ongoing_projects_body {
  font-size: 18px;
  font-weight: 400;
  width: 350px;
  line-height: 27px;
}

/* UPCOMING PROJECTS */

.upcoming_projects {
  background-color: #fff;
  color: #fff;
  padding: 60px 0;
}
.upcoming_projects h2 {
  color: #000;
  font-size: 48px;
  font-weight: 700;
}
