.cart_hero {
  position: relative;
  height: 500px;
  width: 100vw;
  display: flex;
  margin-bottom: 150px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
  margin-bottom: 70px;
}

.cart_hero_text {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart_hero h2 {
  color: #fff;
  font-size: 72px;
  font-weight: 700;
  /* align-self: center; */
}
.cart_hero p {
  color: #fc6a01;
  font-size: 23px;
  font-weight: 600;
  align-self: center;
}

.cart_hero img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cart_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.cart_title h2 {
  font-size: 48px;
  font-weight: 700;
  width: 80%;
  text-align: left;
  margin-top: 0;
}
.cart_title p {
  font-size: 24px;
  font-weight: 400;
  width: 80%;
  text-align: left;
  margin-top: 0;
  line-height: 36px;
}

/* CART */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: 40px auto 100px;
}

th {
  background-color: #fc6a01;
  border: 1px solid #fc6a01;
  color: #fff;
  text-align: left;
  padding: 8px;
}
td {
  border: 1px solid #fc6a01;
  text-align: center;
  padding: 8px;
}

.cart_image {
  width: 190px;
  height: 180px;
  object-fit: cover;
  align-self: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.cart_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0;
}

.cart_button {
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.cart_button {
  font-size: 21px;
  color: #fc6a01;
}

.card_title {
  width: 300px;
  color: #fc6a01;
  text-align: left;
  padding-left: 40px;
}

.coupon_row {
  text-align: left;
  padding: 20px;
}
.coupon_row input {
  height: 40px;
  width: 200px;
  padding: 0 20px;
  margin-right: 10px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.coupon_row button {
  height: 40px;
  padding: 8px 20px;
  margin-right: 10px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  background: #fc6a01;
  color: #fff;
}

.cart_total {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.total_group {
  margin-right: 140px;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.total_table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: #696969;
  margin-bottom: 40px;
}
.cart_total h2 {
  text-align: left;
}

.total_table th {
  background-color: #fff;
  border: 1px solid #fc6a01;
  color: #696969;
  text-align: left;
  padding: 8px;
}

.total_table td {
  border: 1px solid #fc6a01;
  text-align: left;
  padding: 8px;
  width: 120px;
  height: 45px;
}

.subtotal {
  width: 200px;
}
.shipping_row {
  height: 200px;
}

.checkout_button {
  border: none;
  background-color: #fc6a01;

  padding: 8px 20px;
  color: #fff;
  border-radius: 20px;
  align-self: left;
  width: 60%;
  height: 40px;
  font-size: 16px;
}
.cart_card_icon_cont {
  height: 25px;
  width: 25px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.cart_card_icon {
  height: 15px;
  width: 15px;

  color: #ff0000;
}
.cart_card_icon_cont:hover {
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}
