.gallery_hero {
  position: relative;
  height: 500px;
  width: 100vw;
  display: flex;
  margin-bottom: 150px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
  margin-bottom: 70px;
}

.gallery_hero_text {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery_hero h2 {
  color: #fff;
  font-size: 72px;
  font-weight: 700;
  /* align-self: center; */
}
.gallery_hero p {
  color: #fc6a01;

  font-size: 23px;
  font-weight: 600;
  align-self: center;
}

.gallery_hero img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* gallery menu */

.gallery_menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  margin: 0 auto 40px;
}

.gallery_active_menu {
  background-color: #fc9801;
  color: #fff;
  padding: 8px 20px;
  border-radius: 5px;
}

.gallery_images {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.gallery_images img {
  width: 350px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 40px;
}

/* MODAL */

.media_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0009;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.media_cont {
  width: 70%;
  height: 70%;
}
.media_cont img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.media_icon_cont {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}
.media_icon_cont:hover {
  transform: translateY(-3px);
}

.gallery_img {
  cursor: pointer;
}
.gallery_img img {
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.gallery_img img:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.gallery_close_icon {
  position: absolute;
  right: 40px;
  top: 100px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}
.gallery_close_icon:hover {
  transform: translateY(-3px);
  cursor: pointer;
  color: #ff0000;
}

.gallery_slider {
  width: 70%;
  height: 70%;
}
