.news_details_hero {
  position: relative;
  height: 500px;
  width: 100vw;
  display: flex;
  margin-bottom: 150px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
  margin-bottom: 70px;
}

.news_details_hero_text {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.news_details_hero h2 {
  color: #fff;
  font-size: 72px;
  font-weight: 700;
  /* align-self: center; */
}
.news_details_hero p {
  color: #fc6a01;

  font-size: 23px;
  font-weight: 600;
  align-self: center;
}

.news_details_hero img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* NEWS MENU */
.news_details_menu_container {
  background-color: #fc6a01;
  width: 80%;
  height: 150px;
  margin: 0 auto;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.news_details_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  color: #fff;
}
.news_details_menu p {
  font-size: 18px;
  font-weight: 600;
}

.news_details_form_container {
  background-color: red;
  width: 300px;
  height: 45px;
  border-radius: 40px;
  overflow: hidden;
}
.news_details_form_container input {
  height: 45px;
  width: 250px;
  /* border-radius: 40px; */
  border: none;
  padding: 0 20px;
}

.news_details_search_form {
  display: flex;
  flex-direction: row;
}
.news_details_search_form button {
  border: none;
  background-color: #fff;
  width: 45px;
  height: 45px;
  color: #696969;
}

/* NEWS DETAILS */
.news_details_info_top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 100px;
}
.news_details_info_top img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
  margin-right: 30px;
}

.news_details_info_text_group {
  margin-top: 80px;
  width: 500px;
  text-align: left;
}
.news_details_info_text_group p {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

/* IMAGES */

.news_details_info_images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 100px;
}
.news_details_info_images img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 20px;
}
