.news_container {
  position: relative;
}
.news_hero {
  position: relative;
  height: 500px;
  width: 100vw;
  display: flex;
  margin-bottom: 150px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
  margin-bottom: 70px;
}

.news_hero_text {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.news_hero h2 {
  color: #fff;
  font-size: 72px;
  font-weight: 700;
  /* align-self: center; */
}
.news_hero p {
  color: #fc6a01;

  font-size: 23px;
  font-weight: 600;
  align-self: center;
}

.news_hero img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

 {
  /*NEWS MODAL*/
}

.news_modal {
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: #0009;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news_modal_group {
  background-color: #fff;
  border-radius: 10px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.news_filter_list {
  padding-left: 0;
  width: 80%;
}
.news_filter_list li {
  /* width: 100%; */
  color: gray;
  height: 40px;
  border: 1px solid #fc6a01;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

/* NEWS MENU */
.news_menu_container {
  background-color: #fc6a01;
  width: 80%;
  height: 150px;
  margin: 0 auto;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.news_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  color: #fff;
}
.news_menu p {
  font-size: 18px;
  font-weight: 600;
}

.news_form_container {
  background-color: red;
  width: 300px;
  height: 45px;
  border-radius: 40px;
  overflow: hidden;
}
.news_form_container input {
  height: 45px;
  width: 250px;
  /* border-radius: 40px; */
  border: none;
  padding: 0 20px;
}

.news_search_form {
  display: flex;
  flex-direction: row;
}
.news_search_form button {
  border: none;
  background-color: #fff;
  width: 45px;
  height: 45px;
  color: #696969;
}

/* NEWS SECTION */

.news_card_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  /* margin: 80px 150px; */
}

.news_card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  width: 380px;
  border-radius: 40px;
  overflow: hidden;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
  margin: 40px 0;
}
.news_card:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.news_card img {
  width: 102%;
  height: 250px;
  object-fit: cover;
}

.news_card_info {
  text-align: left;
  margin: 0 40px;
}

.news_card_date {
  width: 150px;
  border-radius: 5px;
  height: 35px;
  background-color: #fc6a01;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news_card_title {
  font-size: 18px;
  font-weight: 600;
}

.news_card_body {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}

.news_card_button {
  border: none;
  padding: 8px 20px;
  border-radius: 12px;
  background-color: #fc6a01;
  color: #fff;
  margin-bottom: 10px;
  transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}
.news_card_button:hover {
  cursor: pointer;
  transform: translateY(-3px);
  color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}
.news_card_hr {
  border-bottom: 1px solid #606060;
}

.news_card_bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.news_card_comments {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.news_card_bottom p {
  font-size: 12px;
  font-weight: 400;
}

.news_empty {
  color: gray;
  margin: 50px 0 100px;
}
