.news_details_hero {
  position: relative;
  height: 500px;
  width: 100vw;
  display: flex;
  margin-bottom: 150px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
  margin-bottom: 70px;
}

.news_details_hero_text {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.news_details_hero h2 {
  color: #fff;
  font-size: 72px;
  font-weight: 700;
  /* align-self: center; */
}
.news_details_hero p {
  color: #fc6a01;

  font-size: 23px;
  font-weight: 600;
  align-self: center;
}

.news_details_hero img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .news_details_hero {
    position: relative;
    height: 300px;
    width: 100vw;
    display: flex;
    margin-bottom: 150px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    overflow: hidden;
    margin-bottom: 70px;
  }

  .news_details_hero_text {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .news_details_hero h2 {
    color: #fff;
    font-size: 58px;
    font-weight: 700;
    margin-bottom: 20px;
    /* align-self: center; */
  }
  .news_details_hero p {
    margin-top: 0;
    color: #fc6a01;
    font-size: 21px;
    font-weight: 600;
    align-self: center;
  }
}

/* NEWS MENU */
.news_details_menu_container {
  background-color: #fc6a01;
  width: 80%;
  height: 150px;
  margin: 0 auto;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
}

.news_details_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  color: #fff;
}
.news_details_menu p {
  font-size: 18px;
  font-weight: 600;
}

.news_details_form_container {
  background-color: red;
  width: 300px;
  height: 45px;
  border-radius: 40px;
  overflow: hidden;
}
.news_details_form_container input {
  height: 45px;
  width: 250px;
  /* border-radius: 40px; */
  border: none;
  padding: 0 20px;
}

.news_details_search_form {
  display: flex;
  flex-direction: row;
}
.news_details_search_form button {
  border: none;
  background-color: #fff;
  width: 45px;
  height: 45px;
  color: #696969;
}

/* NEWS DETAILS */
.news_details_info_top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 100px;
}

.news_details_info_top img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
  margin-right: 30px;
}

@media (max-width: 1024px) {
  .news_details_info_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }

  .news_details_info_top img {
    width: 250px;
    height: 250px;
    object-fit: contain;
    border-radius: 20px;
    margin-right: 30px;
  }
}

.news_details_info_text_group {
  margin-top: 80px;
  width: 500px;
  text-align: left;
}
.news_details_info_text_group p {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

@media (max-width: 1024px) {
  .news_details_info_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }

  .news_details_info_top img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    margin-right: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  }

  .news_details_info_text_group {
    margin-top: 60px;
    width: 90vw;
    text-align: left;
    margin: 0 30px;
  }
  .news_details_info_text_group p {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
  }
}

/* IMAGES */

.news_details_info_images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 100px;
}
.news_details_info_images img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 20px;
}
@media (max-width: 1024px) {
  .news_details_info_images {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
  }
}

/*INFO */

.news_details_info_tags {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin: 50px 100px;
}

.news_details_info_row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.news_details_info_row p {
  margin-right: 10px;
}

@media (max-width: 1024px) {
  .news_details_info_tags {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 20px 40px;
  }

  .news_details_info_row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .news_icon {
    margin: 0 10px;
  }
}

/* COMMENT */
.news_details_comments h2 {
  text-align: left;
  margin-left: 100px;
}

.news_details_comment {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 50%;
  margin-left: 100px;
}

.news_details_comment img {
  height: 84px;
  width: 84px;
  border-radius: 42px;
  object-fit: cover;
  margin-right: 20px;
}

.news_details_comment_info {
  text-align: left;
}

.news_details_comment_title {
  font-size: 14px;
  font-weight: 700;
}

.news_details_comment_date {
  font-size: 14px;
  font-weight: 400;
}
.news_details_comment_text {
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .news_details_comments h2 {
    margin-top: 40px;
  }
  .news_details_comment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-left: 20px;
  }

  .news_details_comment_text {
    font-size: 14px;
    font-weight: 400;
    width: 80vw;
  }
}

.news_details_comment button {
  padding: 8px 20px;
  background: #fc6a01;
  border: none;
  border-radius: 20px;
  color: #fff;
}

/* FORM SECTION */
.news_details_section {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 20px 0 100px 100px;
  width: 50%;
  /* background-color: red; */
}

@media (max-width: 1024px) {
  .news_details_section {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 20px;
    width: 85%;
  }
}

.news_form_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.news_form_row input {
  height: 45px;
  width: 40%;
  padding: 0 20px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: none;
}

@media (max-width: 1024px) {
  .news_details_section {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 20px;
    width: 85%;
  }

  .news_form_row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .news_form_row input {
    height: 45px;
    width: 93%;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 20px 0;
  }
}

.news_details_section_form textarea {
  width: 93%;
  height: 200px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 20px;
  border: none;
  margin-bottom: 30px;
}

.news_details_section_form button {
  padding: 12px 24px;
  border-radius: 24px;
  background-color: #fc6a01;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 400;
  margin-top: 30px;
}
